body {
    font-family: 'Courier New', monospace;
  }

.container-main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
}

.container-top{
    height: 15%;
    display: flex;
    flex-direction: row;
}

.container-bottom{
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.container-titulo{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.container-busqueda{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

h1{
    font-size: 60px;
}

#nombre-moneda{
    font-size: 16px;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
}

#buscar{
    height: 30px;
    font-size: 16px;
    font-family: 'Courier New', monospace;
}


.container-trending{
    margin-top: 20px;
    width: 30%;
    height: 90%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.container-monedas{
    margin-top: 20px;
    width: 60%;
    height: 90%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.container-rotulos{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.container-lista,.container-lista-trending{
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    overflow:auto;  /* Con esto ponemos una scrollbar dentro del div*/
}

#rotulo1,#rotulo2{
    margin-top: 10px;
    font-size: 30px;
}

.divNuevo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.divNuevo:hover{
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 11px 9px 15px -8px #000000;
}

.pNuevo{
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.pTrending-Simbolo{
    font-size: 20px;
    width: 30%;
    text-align: left;
    margin-left: 20px;
    margin-right: 5px;
}

.pTrending-Nombre{
    font-size: 20px;
    width: 70%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}


.myModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    height: 30%;
    width: 50%;
    padding: 20px;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.modal-row1, .modal-row2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-imagen{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-moneda{
    height:140px;
    width: 140px;
}

.container-nombre-symbol{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.nombre-moneda, .simbolo-moneda .rank-moneda, .hash-moneda{
    width: 100%;
}

.nombre-moneda{
    margin-top: 30px;
    font-size: 26px;
}

.simbolo-moneda{
    margin-top: 10px;
}

.container-link-moneda{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-moneda{
    margin-left: 30px;
    margin-top: 20px;
}

