.container-main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
}

.container-top{
    height: 15%;
    display: flex;
    flex-direction: row;
}

.container-bottom{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titulo{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.container-busqueda{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

h1{
    font-size: 60px;
}

#nombre-moneda{
    margin-right: 10px;
}

.container-monedas{
    margin-top: 20px;
    width: 80%;
    height: 90%;
    background-color: white;
    border: 1px solid black;
}

.container-rotulos{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.container-lista{
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    overflow:auto;  /* Con esto ponemos una scrollbar dentro del div*/
}

#rotulo1,#rotulo2{
    margin-top: 10px;
    font-size: 30px;
}

.divNuevo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.pNuevo{
    width: 50%;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}

